.card {
    height : 50%;
    width : 50%;
    box-sizing: border-box;
    text-align : center;
    margin : auto;
}
.search-container {
    text-align : center;
    padding : 15px;
    border-radius : 5px;
}
.search-bar {
    border:  2px solid black;
    border-radius : 15px;
    outline : none;
    font-size : 16px;
    color : black;
    background-color :paleturquoise;
    text-align: center;
}